
__pycache__/
error.log
**/.buildozer
**/.vs
**/.svn
**/.git
**/.vscode
**/.history
**/.DS_Store
**/__pycache__
**/ipch
**/Debug
**/Release
**/Sample
*.user
*.pdb
*.idb
*.suo
*.sdf
*.ncb
*.o
*.a
*.lib
*.obj
*.dll
*.exe
*.sys
*.pyc
*.pyo
*.zip
*.7z
*.bak
*.apk
/lib
/MD
/MDd
/MT
/MTd
/Win32
/x64
